.card-deck img{width: 40px;

}
.a{margin: 30px auto 50px auto;
display: flex;
  align-items: center;
  justify-content: center;}
  .card{margin-top: 40px;}

.b{margin-top: 60px;
	padding: 60px; 
}





  